<div>

    <!-- PIPELINE -->
    <div class="fflex align-start">
        <el-select v-model="state.viame_pipeline" placeholder="Select VIAME pipeline">
            <el-option
                key="detector_habcam_test_yolo_only.pipe"
                value="detector_habcam_test_yolo_only.pipe">
            </el-option>
            <el-option
                key="detector_sefsc_bw_species_v2.4m_0.5x.pipe"
                value="detector_sefsc_bw_species_v2.4m_0.5x.pipe">
            </el-option>
        </el-select>
    </div>
    
    <!-- THRESHOLD -->
    <div class="fflex align-start" style="flex-direction: column; margin: 0 0 20px 0">
        <sly-field
            title="Confidence threshold"
            description="Predictions below threshold will be skiped">
        </sly-field>
        <el-input-number v-model="state.threshold" class="mt10 mr10" :step="0.01" :min="0" :max="1"></el-input-number>
    </div>

    <!-- MERGE PREDICTIONS -->
    <div class="fflex align-start">
        <el-checkbox v-model="state.merge_predictions" class="mt10 mr10"></el-checkbox>
        <sly-field class="mt20"
                   title="Merge predictions with current project"
                   description="If unchecked a separate project with predictions will be created">
        </sly-field>
    </div>

    <!-- OUTPUT PROJECT NAME -->
    <div class="fflex align-start" style="flex-direction: column; margin: 0 0 20px 0"
         v-if="!state.merge_predictions">
        <sly-field
                title="Result Project Name"
                description="Enter project name manually (optional) or keep empty to generate it automatically">
        </sly-field>
        <el-input placeholder="Enter Project Name" v-model="state.output_project_name"></el-input>
    </div>

</div>