<div>

    <!-- PIPELINE -->
    <div class="fflex align-start" style="flex-direction: column; margin: 0 0 10px 0">
        <sly-field
            title="Select VIAME pipeline:">
        </sly-field>
        <el-select v-model="state.viame_pipeline" placeholder="VIAME pipeline">
            <el-option
                key="detector_habcam_test_yolo_only.pipe"
                value="detector_habcam_test_yolo_only.pipe">
            </el-option>
            <el-option
                key="detector_habcam_test_hrnet_only.pipe"
                value="detector_habcam_test_hrnet_only.pipe">
            </el-option>
            <el-option
                key="detector_habcam_test_cfrnn_only.pipe"
                value="detector_habcam_test_cfrnn_only.pipe">
            </el-option>
            <el-option
                key="detector_habcam_test_multi_species_only.pipe"
                value="detector_habcam_test_multi_species_only.pipe">
            </el-option>
            <el-option
                key="detector_sefsc_bw_species_v2.4m_0.5x.pipe"
                value="detector_sefsc_bw_species_v2.4m_0.5x.pipe">
            </el-option>
            <el-option
                key="detector_sefsc_bw_species_v2.4m_1.0x.pipe"
                value="detector_sefsc_bw_species_v2.4m_1.0x.pipe">
            </el-option>
            <el-option
                key="detector_sefsc_bw_species_v2.4m_2.0x.pipe"
                value="detector_sefsc_bw_species_v2.4m_2.0x.pipe">
            </el-option>
            <el-option
                key="detector_sefsc_bw_species_v2.4s_0.5x.pipe"
                value="detector_sefsc_bw_species_v2.4s_0.5x.pipe">
            </el-option>
            <el-option
                key="detector_sefsc_bw_species_v2.4s_1.0x.pipe"
                value="detector_sefsc_bw_species_v2.4s_1.0x.pipe">
            </el-option>
            <el-option
                key="detector_sefsc_bw_species_v2.4s_2.0x.pipe"
                value="detector_sefsc_bw_species_v2.4s_2.0x.pipe">
            </el-option>
        </el-select>
    </div>
    
    <!-- THRESHOLD -->
    <div class="fflex align-start" style="flex-direction: column; margin: 0 0 10px 0">
        <sly-field
            title="Confidence threshold"
            description="Predictions below threshold will be skiped">
        </sly-field>
        <el-input-number v-model="state.threshold" :step="0.05" :min="0" :max="1"></el-input-number>
    </div>

    <!-- MERGE PREDICTIONS -->
    <div class="fflex align-start">
        <el-checkbox v-model="state.create_project" class="mt10 mr10"></el-checkbox>
        <sly-field class="mt20"
                   title="Create new project with predictions"
                   description="Uncheck if you want to append predictions to the existed project">
        </sly-field>
    </div>

    <!-- OUTPUT PROJECT NAME -->
    <div class="fflex align-start" style="flex-direction: column; margin: 0 0 20px 0"
         v-if="state.create_project">
        <sly-field
                title="Output Project Name (optional)"
                description="Enter the project name or keep empty to generate automatically">
        </sly-field>
        <el-input placeholder="Enter Project Name" v-model="state.output_project_name"></el-input>
    </div>

</div>
